service cloud.firestore {
  match /databases/{database}/documents {

    // This is root level admin
    function isSuperAdmin() {
      return exists(/databases/$(database)/documents/super_admins/$(request.auth.uid));
    }

    function isSpecificProjectAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid)/projects/$(anyProject))
    }

    function isGuide() {
      return exists(/databases/$(database)/documents/guides/$(request.auth.uid));
    }

    function isCreator() {
      return resource.data.creator != null &&
      	(request.auth.uid == resource.data.creator.data.id || request.auth.uid == resource.data.creator.id);
    }

    function isUserAssignee() {
    	return resource.data.assignee != null &&
      	(request.auth.uid == resource.data.assignee.data.id || request.auth.uid == resource.data.assignee.id);
    }

    function isUserAssigneeOrCreator() {
    	return isCreator() || isUserAssignee();
    }

    function isTaskUnassigned() {
      return (request.resource.data.keys().hasAll(['assignee'])
      && !resource.data.keys().hasAll(['assignee']));
    }

    // Allow create for anyone who is auth
    // Allow to update it the user is the project creator
    match /projects/{anyProject} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow update: if request.auth != null && isCreator();
      allow delete: if request.auth != null && isCreator();

      match /tasks/{anyTask} {
        allow read: if request.auth != null;
        // Allow create: if authenticated
        // Uncomment the following to allow create for all
        allow create: if request.auth != null;
        // Uncomment the following to allow unassigned task to be assigned by all
        allow update: if request.auth != null && (isSpecificProjectAdmin() || isGuide() || isUserAssigneeOrCreator() || isTaskUnassigned());
        allow delete: if request.auth != null && (isSpecificProjectAdmin() || isCreator());
      }

      match /comments/{anyComment} {
        allow read: if request.auth != null;
        allow create: if request.auth != null;
        allow update: if request.auth != null && isCreator();
        allow delete: if request.auth != null && isCreator();
      }

      match /colors/{anyColor} {
        allow create: if request.auth != null;
        allow read: if request.auth != null;
        allow update: if request.auth != null && isSpecificProjectAdmin();
        allow delete: if request.auth != null && isSpecificProjectAdmin();
      }

      match /labels/{anyLabel} {
        allow create: if request.auth != null;
        allow read: if request.auth != null;
        allow update: if request.auth != null && (isSpecificProjectAdmin());
        allow delete: if request.auth != null && (isSpecificProjectAdmin());
      }
     }


    match /users/{userId} {
      allow read: if request.auth != null; // Auth users can read
      allow write: if userId == request.auth.uid || isSuperAdmin();
    }

    match /admins/{anyAdmin} {
      allow read: if request.auth != null;
      match /projects/{anyProject} {
        allow read: if request.auth != null;
      }
    }

    match /guides/{anyGuide} {
      allow read: if request.auth != null;
    }
  }
}
