@import 'views/styles/shared';

.set-project {
  a {
    color: $primary-color;
  }

  padding: 0 1em 1em 1em;
  margin-top: 1em;
  margin-bottom: 6em;

  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  max-width: 450px;

  input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    &:hover {
      border-color: #eb1478;
    }
  }

  .form-input {
    margin-bottom: 1em;
  }

  input[type=text] {
    min-width: 400px;
  }

  input[type=checkbox] {
    opacity: 1;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  input[type=submit] {
    &:focus {

    }
  }

  .extra-fields {
    .react-tagsinput-tag {
      color: white;
      background-color: $primary-color;
      border: none;
    }
    .react-tagsinput-remove {
      color: white;
    }
  }
}

@media only screen and (max-width: 480px) {
  .set-project {
    input[type=text] {
      width: 100%;
      min-width: 0;
    }
  }
}
