@media only screen and (min-width: 768px)  {
  .g-row {
    @include grid-row;
    max-width: 100%;
    padding: 0 20px;
  }

  .g-col {
    width: 100%;
  }

  .g-col-40 {
    @include grid-column;
    width: 40%;
  }

  .g-col-30 {
    @include grid-column;
    width: 30%;
  }

  .g-col-50 {
    @include grid-column;
    width: 50%;
  }
  
  .g-col-60 {
    @include grid-column;
    width: 60%;
  }
  
  .g-col-70 {
    @include grid-column;
    width: 70%;
  }

  .g-col-80 {
    @include grid-column;
    width: 80%;
  }

  .g-col-90 {
    @include grid-column;
    width: 90%;
  }
}

@media (max-width: 767px)  {
  .g-row {
    @include grid-row;
    max-width: 100%;
    padding: 0 5px;
  }
}