@import
'./shared',
'minx/src/reset',
'minx/src/elements',
'./grid';


html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}

button {
  font-family: $base-font-family;
}


button:focus {
  outline:0;
}

div:focus {
  outline:0;
}

.label-default {
  display: inline;
  padding: .2em .6em .2em;
  font-size: 67%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border-color: lightgreen;

  // background-color: #999;
}
.label-default li {
  border-color:red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c0c1c1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c1c1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c1c1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c0c1c1;
}

.grow {
  transition: all 0.3s ease;
}
.grow:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

input {
  font-family: $base-font-family;
  font-size: $base-font-size;
  border: 1px solid #e5dce0;
  height: 2em;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

input[type='checkbox']
{
  -webkit-appearance:checkbox !important;
  -moz-appearance:checkbox !important;
  appearance:checkbox !important;
}

input[type='button']
{
  font-family: "aktiv-grotesk-std", Helvetica Neue, Arial, sans-serif;
}

.float-dir-right {
  float: right;
}

.float-dir-left {
  float: left;
}


// Hide google translate on safari browsers
.goog-te-banner-frame.skiptranslate {display: none !important;}
body { top: 0px !important; }

// Fix Select bug on firefox
//.Select-control {
//
//}
//.Select-value {
//  border: 1px solid #ccc;
//}
