@import 'views/styles/shared';

.me {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2em auto;
  max-width: 600px;
  padding: 2em 2em 4em 2em;
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: $primary-color;
  }

  .projects-you-manage {
    margin-top: 3em;
    font-weight: bold;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .project {
    display: inline-flex;
    flex-flow: wrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;
    padding: 5px;
    margin: 10px 0;

    &:hover {
      background-color: rgb(238, 238, 238);
    }

    span {
      margin: 0 10px;

      &:first-child {
        margin: 0;
      }
    }
  }
}


@media only screen and (max-width: 480px){
  .me {
    margin: 0 auto;
    background: none;
    padding-bottom: 4em;
  }

}

