@import 'views/styles/shared';

.task-list-container {
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
  overflow: hidden;

  .task-list-header {
    position: relative;
  }
}

.task-list {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background: white;
}

.task-list-loader {
  min-height: 29.23em;
}

@media (max-width: 767px) {
  .task-list-loader {
    min-height: 25.23em;
  }
}
