@import 'views/styles/shared';

.task-view-container {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background: white;
  line-height: 1.1em;
  margin-bottom: 2em;
  z-index: 10;
  font-size: 18px;

  .instruction {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }

  .instruction-left {
    float: left;
    margin-right: 1em;
  }

  .instruction-right {
    float: right;
    margin-left: 1em;

  }

  .instruction-label {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }
}

.task-view-loader {
  min-height: 18.35em;
}

@media screen and (max-width: 767px) {
  .task-view-loader {
    min-height: initial;
    line-height: 0;
  }
}

.task-view-bottom-loader {
  min-height: 23.35em;
}

.task-view {
  padding: 10px 25px;
  overflow-y: auto;

  textarea {
    resize:none;
    font-family: $base-font-family !important;
  }

  input:disabled, select:disabled, textarea:disabled {
    background: none !important;
    color: rgb(84,84,84) !important;
    border: none !important;
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
    font-family: $base-font-family !important;
  }

  input[type='checkbox'] {
    opacity: 1;
    position: relative;
    vertical-align: middle;
  }

  .Select {
    vertical-align: middle;
  }

  .is-disabled {
    .Select-control {
      border: none !important;

      &:hover {
        border: none !important;
      }
    }
  }

  .Select-placeholder {
    color: red
  }

  .Select-value {
    background-color: white;
    padding-right: 0 !important;
  }

  .Select-control {
    width: 200px !important;
    font-size: 18px;


    &:hover {
      border: 1px solid #ccc !important;
    }

  }

  .Select-menu-outer {
    width: 200px !important;
  }

  .button-save {
    margin: 10px 6px;
  }

  .label {
    vertical-align: top;
    margin-top: .7em;
  }

  .is-critical {
    margin-bottom: 10px;
  }

}

.changing-input {
  width: 100%; //TODO
  transition: border-color 100ms;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  border: none;
  text-rendering: optimizeSpeed;
  vertical-align: top;
  border-color: white;
  overflow: hidden;
  border-radius: 4px;
}

.editable {
  border: 1px solid #e5dce0;

  &:hover {
    border: 1px solid #d5dce0;
  }
}

.tags-container {
  display: flex;

  .label {
    padding: 0 0.5em;
  }
}

.tags-container-left {
  flex-direction: row;
}

.tags-container-right {
  flex-direction: row;
}

.react-tagsinput-changing {
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px 1px 1px 1px;
  width: 100%;
  display: inline-block;

  input {
    font-size: 18px;
    font-family: $base-font-family;
    width: 200px; //This allows the placeholder and a not to go much beyond line break
  }

  ::placeholder {
    font-size: 18px;
  }
}

.form-input{
  margin:0.4em 0;
}
