@import 'views/styles/shared';

.task-side-view-overlay {
  background: rgba(42, 46, 75, 0.5) !important
}

.bm-menu-wrap {
  top: 0;
}

.task-side-view {
  transition: 0.6s ease-out;
  background: $white;
  overflow-y: auto;
  box-shadow: 0px 0px 10px 0px #999999;

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    top: 18px;
    display: none;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    padding: 0;
    background: #f2f2f2;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {

  }

  /* Individual item */
  .bm-item {
    display: block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0; //Fixes an issue of bm is clickable when menu is collapsed
  }
}

.bm-overlay {
  top:0;
  right: 0;
}

.task-view-container {
  background: $white;
  line-height: 1.1em;
  margin-bottom: 0;
  z-index: 10;
  font-size: 18px;
  padding-bottom: 5em;

  .button-save-wrapper {
    display: flex;
    justify-content: center;

    .save-button {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: flex;
      font-size: 1.5em;
      padding: 1em;
      color: white;
      background: $primary-color;
      margin: 0.5em 0.3em;
      height: 3em;
      align-content: center;
      justify-content: center;
      border: none;
      -webkit-border-radius: 28px;
      -moz-border-radius: 28px;
      border-radius: 28px;
      -webkit-box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.2);
      -moz-box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.2);
      box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.2);

      &:hover {
        -webkit-box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.7);
        -moz-box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.7);
        box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.7);
      }
    }
  }

  .instruction {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }

  .instruction-left {
    float: left;
    margin-right: 1em;
  }

  .instruction-right {
    float: right;
    margin-left: 1em;
  }

  .instruction-label {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }
}

.task-view-loader {
  min-height: 18.35em;
}

.task-view {
  padding: 25px 25px;
  overflow-y: auto;

  textarea {
    resize:none;
    font-family: $base-font-family !important;
  }

  input:disabled, select:disabled, textarea:disabled {
    background: none !important;
    color: rgb(84,84,84) !important;
    border: none !important;
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
    font-family: $base-font-family !important;
  }

  input[type='checkbox'] {
    opacity: 1;
    position: relative;
    vertical-align: middle;
  }

  .Select {
    vertical-align: middle;
  }

  .is-disabled {
    .Select-control {
      border: none !important;

      &:hover {
        border: none !important;
      }
    }
  }

  .Select-placeholder {
    color: red
  }

  .Select-value {
    background-color: white;
    padding-right: 0 !important;
  }

  .Select-control {
    width: 200px !important;
    font-size: 18px;


    &:hover {
      border: 1px solid #ccc !important;
    }

  }

  .Select-menu-outer {
    width: 200px !important;
  }

  .label {
    vertical-align: top;
    margin-top: .7em;
  }

  .is-critical {
    margin-bottom: 10px;
  }

  .task-type {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }

  .task-type-left {
    float:left;
  }

  .task-type-right {
    float:right;
  }
}

.changing-input {
  width: 100%; //TODO
  transition: border-color 100ms;
  font-size: 18px;
  height: 35px;
  padding: 5px;
  border: none;
  text-rendering: optimizeSpeed;
  vertical-align: top;
  border-color: white;
  overflow: hidden;
  border-radius: 4px;
}

.editable {
  border: 1px solid #e5dce0;

  &:hover {
    border: 1px solid #d5dce0;
  }
}

.tags-container {
  display: flex;
  clear: both;

  .label {
    padding: 0 0.5em;
  }
}

.tags-container-left {
  flex-direction: row;
}

.tags-container-right {
  flex-direction: row;
}

.react-tagsinput-changing {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px 9px 5px 9px;
  width: 100%;
  display: inline-block;

  input {
    font-size: 18px;
    font-family: $base-font-family;
    width: 200px; //This allows the placeholder and a not to go much beyond line break
  }

  ::placeholder {
    font-size: 18px;
  }

  &.editable {
    border: 1px solid #ccc;
  }
}

.form-input{
  margin:0.4em 0;
}


@media screen and (max-width: 767px) {
  .task-view-loader {
    min-height: initial;
    line-height: 0;
  }
}
