@import 'views/styles/shared';

.filter-menu {
  .title {
    padding: 10px 0;
  }

  hr {
    border-color: #b6b6b6;
  }
  .title-right {
    padding-right: 30px;
  }
  .title-left {
    padding-left: 30px;
  }
}
