@import 'views/styles/shared';

// We inject this into a label as a children so we modify the label wrapper
.label-wrapper{

  .label-text-left {
    padding-left: 10px;
  }

  .label-text-right {
    padding-right: 10px;
  }

  .close-button {
    color: white;
    border: none;
    background: none;
    vertical-align: middle;
    padding: 6px 6px 6px 10px;

    .material-icons {
      font-size: 1.5em;
    }
  }
}
