@import 'views/styles/shared';

.label-wrapper {
  font-size: 0.8em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 9px;
  border: none;
  padding: 3px 0;



  .label-text-left {
    padding-left: 10px;
  }

  .label-text-right {
    padding-right: 10px;
  }

  .close-button {
    color: white;
    border: none;
    background: none;
    vertical-align: middle;
    padding-left: 10px;

    .material-icons {
      font-size: 1.5em;
    }
  }
}
