.suggestionContainer{
  // position: absolute;
  z-index: 5;
  // background: white;
}
.suggestions{
  width:100%;
  position: relative;
}

.suggestions li{
  background: rgba(255, 255, 255, 0.66);
  display: block;
  width:100%;
  }

.suggestion{
  display: block;
  // height: 1.7em;
  // margin: 10px;
  
  width: 100%;
  z-index: 6;
}

li.react-autosuggest__suggestion--highlighted  {
  background: #eb1478;
  color: white;
}

.react-autosuggest__container{
  display: inline-block;
}