@import 'views/styles/shared';

.auto-suggested-wrapper {
  display: flex;
  flex-direction: row-reverse;

  .suggestionContainer{
    // position: absolute;
    z-index: 5;
    font-size: $base-font-size;
    // background: white;
    font-family: $base-font-family;
  }

  .react-tagsinput-tag {
    align-self: baseline;
    width: 100%;
  }

  .suggestions{
    width:100%;
    position: relative;
    background-color: white;
    max-height: 300px;
    overflow: auto;
  }

  .suggestions li{
    background: rgba(255, 255, 255, 0.66);
    display: block;
    width:100%;
    }

  .suggestion{
    display: block;
    height: 1.7em;
    line-height: 1.7em;
    // margin: 10px;

    width: 100%;
    z-index: 6;
  }

  li.react-autosuggest__suggestion--highlighted  {
    background: #eb1478;
    color: white;
  }

  .react-autosuggest__container{
    display: inline-block;
    width: 100%;
  }
}
