@import 'views/styles/shared';

.task-header-tooltip {
  cursor: pointer;
  transition: all 0.4s;
  color: $primary-color;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 2px 3px;

  &:hover {
    background: $primary-color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
  }
}

.task-header-tooltip-container {
  display: flex;
  flex-direction: column;

  .material-icons {
    padding: 0 3px;
  }

  .button {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
      border: none;
      background-color: $primary-color;
      color: white;
    }
  }

}

@media only screen and (max-width: 480px){

}

