@import 'views/styles/shared';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.about-page {
  padding: 2em;
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  max-width: 700px;

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
