@import 'views/styles/shared';

.search-bar {
  display: flex;

  .search-container {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    background: white;

    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $primary-color;

      .search-icon {
        color: $primary-color;
      }
    }

    &:focus {
      border: 1px solid $primary-color;

      .search-icon {
        border-color: $primary-color;
      }
    }

    .search-icon {
      padding: 0.5rem;
      font-size: 2em;
    }

    .search-input {
      border: none;
      height: auto;
      padding: 0.5rem 0.5rem 0.5rem 0;
      flex: 1;

      font-family: $base-font-family;
      font-size: 16px;
    }
  }

  .filter-icon-wrapper {
    margin: 0 20px;
  }
}
