.add-task-button {
  margin: 0.43em;
  display: block;
}

.task-page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.task-page-child {
  margin: auto;
}

.task-list-wrapper {
  flex: 5500 1 605px;
  -webkit-box-flex: 5500;
  -ms-flex: 5500 1 605px;
  padding-left: 10px;
  padding-right: 15px;
}

.task-view-wrapper {
  justify-content: flex-start;
  min-width: 28em;
  max-width: 800px;
  position: relative;
  margin-left: 30px;
  margin-right: 15px;

}

@media (max-width: 767px) {
  .task-list-wrapper {
    max-width: 100%;
    min-width: 0;
  }
  .task-page-wrapper {
    flex-wrap: wrap;
  }

  .task-view-wrapper {
    min-width: 0;
  }
}

@media (max-width: 1120px) {
  .task-view-wrapper {
    min-width: 12em;
  }
}

@media (max-width: 795px) {
  .task-view-wrapper {
    min-width: 8em;
  }
}