@import 'views/styles/shared';

.task-page-root-wrapper {
  padding-top: 0;

  .search-bar {
    padding: 0;

    .search-container {
      width: 100%;
    }
  }
}

.top-nav-wrapper {
  padding: 0 0 24px 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.task-page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.task-page-child {
  margin: auto;
}

.task-list-wrapper {
  z-index: 2;
  flex: 5500 1 605px;
  -webkit-box-flex: 5500;
  -ms-flex: 5500 1 605px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 767px) {
  .task-list-wrapper {
    max-width: 100%;
    min-width: 0;
  }
  .task-page-wrapper {
    flex-wrap: wrap;
  }

  .search-bar {
    padding: 10px 0 8px 0;
    .search-input {
      width: 100%;
      min-width: 0;
    }
  }
}

@media (max-width: 1120px) {
  .task-page-root-wrapper {
    .search-bar {
      .search-container {
        width: auto;
        flex: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .top-nav-wrapper {
    max-width: 100%;
    padding: 16px;
  }
}
