@import 'views/styles/shared';

.selected-filters-labels-wrapper {
  display: flex;

  .label-wrapper {
    margin: 5px 5px;
  }

  .selected-filters-labels {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-left {
    padding-left: 10px;
  }

  .flex-right {
    padding-right: 10px;
  }
}
