@import 'views/styles/shared';

.selected-filters-labels-wrapper {
  display: flex;
  margin-bottom: 15px;

  .label-wrapper {
    margin: 0 5px;
  }

  .selected-filters-labels {
    display: flex;
  }

  .flex-left {
    padding-left: 10px;
  }

  .flex-right {
    padding-right: 10px;
  }
}
