@import 'views/styles/shared';

.label-wrapper {
  font-size: 0.8em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 9px;
  border: none;
  padding: 3px 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: $primary-color !important;
    }
  }
}
