@import 'views/styles/shared';

.reports-page {
  padding: 1em 2em 0 2em;

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
  .report-table {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .report-table th {
    border: 1px solid #bbb;
    text-align: left;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: 400;
  }

  .report-table thead tr th {
    font-weight: 600;
    background: gray;
    text-transform: capitalize;
  }

  .report-table tr:nth-child(odd) th {
    background: #ddd;
  }
}
