@import 'views/styles/shared';

.task-view-header {
  padding: 8px 10px;
  border-bottom: 1px solid #e0e6e8;

  .close-bottom {
    background: none;
    padding-bottom: 15px;
  }
  .close-icon {
    color: #ccd1d6;

    &:hover {
      color: $primary-color;
    }
  }

  .action-button {
    margin: 5px 20px;

    .delete {
      vertical-align: sub;
      font-size: 20px;
      color: black;
    }
  }

  .follow-icon {
    width: 30px;
    margin-top: -6px;
    margin-left: 6px;
  }

  .avatar-container {
    display: inline-block;
  }

  .avatar {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  .header-icon {
    color: $primary-color;
  }
}
