@import 'views/styles/shared';

.signup-login {
  margin-bottom: 1em;
  font-size: 0.9em;

  h2 {
    margin: 10px 0;
  }

  .modal-header {
    display: block;
    padding: 1.5em 1.5em 0 1.5em;

    .avatar-wrapper {
      display: inline-block;
      min-width: 100px;
      min-height: 100px;
    }

    .avatar {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .modal-body {
    padding: 1.5em;
  }

  .submit-wrapper {
    margin-top: 2em;
    text-align: center;

    .button {
      font-size: 1em;
      background-color: #eb1478;
      color: white;
      padding: 0 6em;
      height: 3em;

      &:hover {
        font-size: 1.1em;
      }
    }
  }

  .user-info-input {
    border: 1px solid #d5dce0;

    &:hover {
      padding: 5px;
      border-color: rgba(235, 20, 120, 0.66);
    }

    &:focus {
      padding: 5px;
      border-color: #eb1478;
    }
  }
}
