@import 'views/styles/shared';

.task-view-mini {
  box-shadow: 0px 8px 16px rgba(103, 67, 155, 0.08);
  background: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  &.lang-en {
    text-align: left;
  }

  &.lang-he {
    text-align: right;
  }

  &.active {
    background: $primary-color;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }
}


@media screen and (max-width: 767px) {
  .task-view-loader {
    min-height: initial;
    line-height: 0;
  }
}
