#google_translate_element {
  float: left;
  display: none; //Change to inline-block to see it

  .goog-te-gadget-simple {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 0 10px;
    line-height: 1.2em;
  }
  .goog-te-gadget-icon {
    display: none;
  }
}

.google-translate-container {
  float: left;
  
  .close-button {
    display: none !important; //Change to inline-block to see it
    padding: 0;
    min-width: 0;
    margin: 0 8px 0 8px;

    .close-icon {
      font-size: 16px;
    }
  }

}
