@import 'views/styles/shared';

.my-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .avatar-wrapper {
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .user-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid transparent;
    display: flex;

    &:hover {
      border: 1px dotted;
      cursor: pointer;
    }

    .edit-email {
      margin-left: 8px;

    }
  }

  .user-form {
    margin: 1em 0;
  }

  .bio-description {
    display: block;
    margin: 1em 0;
  }

  .edit-profile {
    width: 100%;
    margin: 0 20px;

    height: 48px;
    color: $primary-color;
    border-radius: 8px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    border-color: #eb1478;
    box-sizing: border-box;

    &:hover {
      background: $primary-color;
      color: white;
    }
  }

  .submit-wrapper {
    margin-top: 2em;
    text-align: center;

    .button {
      font-size: 1em;
      background-color: #eb1478;
      color: white;
      padding: 0 6em;
      height: 3em;

      &:hover {
        font-size: 1.1em;
      }
    }
  }

  .avatar {
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
  }
}

@media only screen and (max-width: 480px){
  .me {
    .avatar-wrapper {
      max-width: 90px;
      max-height: 90px;
    }
  }

}

