@import 'views/styles/shared';

.set-user-info {
  margin-bottom: 1em;
  font-size: 0.9em;

  .flex-rows-break {
    padding: 0.5em 0;
  }
  .modal-header {
    display: block;
    padding: 1em 1em 0 1em;
  }

  .modal-body {

    .modal-form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .ck-editor {
      flex-basis: 100%;
      max-width: 100%;
    }

    .avatar-wrapper {
      display: flex;
      min-width: 115px;
      min-height: 115px;
    }

    .avatar {
      -webkit-border-radius: 140px;
      -moz-border-radius: 140px;
      border-radius: 140px;
      margin: 0;
      max-width: 115px;
      max-height: 115px;
    }

    .avatar-left {
      margin-right: 10px;
    }

    .avatar-right {
      margin-left: 10px;
    }

    .avatar-parallel {
      display: flex;
      flex-wrap: wrap;
    }

    padding: 1.5em;
  }

  .submit-wrapper {
    margin-top: 2em;
    text-align: center;

    .button {
      font-size: 1em;
      background-color: #eb1478;
      color: white;
      padding: 0 6em;
      height: 3em;

      &:hover {
        font-size: 1.1em;
      }
    }
  }

  .user-info-input {
    border: 1px solid #d5dce0;

    &:hover{
      padding: 5px;
      border-color: rgba(235, 20, 120, 0.66);
    }

    &:focus {
      padding: 5px;
      border-color: #eb1478;
    }
  }
}
