@import 'views/styles/shared';

.labels-list-wrapper {
  display: flex;
  width: 100%;

  .labels-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .label-wrapper {
      margin: 5px 5px;
      padding: 3px 5px;

      .label-text {
        padding: 0;
      }
    }

    .selected-filters-labels {
      display: flex;
      flex-flow: row wrap;
    }

    .flex-left {
      padding-left: 10px;
    }

    .flex-right {
      padding-right: 10px;
    }
  }
}
