@import 'views/styles/shared';

.take-ownership-modal-container {
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 0.9em;

  .take-ownership-modal {

    .modal-header {
      display: block;

      .question {
        font-size: 6em;
        color: $primary-color;
      }
    }

    .modal-body {
      margin-top: 1em;
    }

    button {
      font-size: 1em;
      padding: 0 2em;
      height: 3em;
      color: #1A181B;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 0.5em 0;
      border: none;
      background: #dadada;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;

      &:hover {
        font-size: 1.1em;
        padding: 0.05em 2.1em;
      }
    }

    .yes-btn {
      color: #1A181B;
      background-color: #A4D4B4;
    }

    .yes-btn-dir-right {
      margin-left: 1em;
    }

    .yes-btn-dir-left {
      margin-right: 1em;
    }

  }

}

.take-ownership-overlay-container {
  z-index: 1200;
}
