@import 'views/styles/shared';


.task-filters {
  @include clearfix;
  padding: 0 30px;
  font-size: rem(16px);
  line-height: 24px;
  display: inline-block;
  width: 100%;

  ul {
    list-style-type: none;
  }

  .react-tagsinput-custom {
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    overflow: hidden;
    margin-top: -7px;
    width: auto;
    min-width: 186px;
    display: inline-block;
    font-family: '"aktiv-grotesk-std", Helvetica Neue, Arial, sans-serif' !important;
    font-size: 16px !important;
    border: 1px solid #d5dce0;
    padding: 4px 0 0 0;
    margin-left: 20px;

    input {
      font-size: 1.0em;
      font-family: $base-font-family;
      width: 10em;
      background: none;
    }

    &:hover {
      border: 1px solid $primary-color;
    }
  }

  .main-filters {
    .react-tagsinput-custom {
      margin-top: 0;
      padding: 4px 0;
    }

    .react-tagsinput-input {
      margin: 0;
    }
  }

  .categories {
    padding-top: 0.2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  .filter-heading {
    font-size: 20px;
    padding-bottom: 4px;
  }

  .filter-heading-left {
    padding-left: 10px;
  }

  .filter-heading-right {
    padding-right: 10px;
  }

  .task-type {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .main-filters li {
    padding: 3px 20px;

    a {
      color: #999;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: #666;
        border-bottom: 2px solid #666;
      }

      &.active {
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
      }
    }

  }
}

@media (max-width: 768px) {
  .task-filters {
    padding: 0 1em;
  }
}

@media (max-width: 480px) {
  .task-filters {
    padding: 0 1em;

    .filter-heading-left {
      padding-left: 4px;
    }

    .filter-heading-right {
      padding-right: 4px;
    }
  }

}
