@import 'views/styles/shared';

.task-filters {
  padding: 12px 20px;
  font-size: rem(16px);
  line-height: 100%;
  margin-bottom: 150px; //We add this to support mobile browsers overflow

  .heading {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
  }

  .filter-link {
    color: #999;
    text-decoration: none;
    padding: 4px 8px 5px;
    margin-bottom: 2px;
    border: 0;
    border-radius: 3px;
    transition: all .2s ease;

    &:hover {
      color: $white;
      background: $primary-color;
    }

    &.active {
      color: $white;
      background: $primary-color;
    }
  }

  .react-tagsinput-input {
    margin: 0;
  }

  .react-tagsinput-custom {
    background: white;
    display: inline-block;
    width: 100%;
    min-width: 186px;
    margin-top: 0;
    z-index: 2;
    border-radius: 3px;
    overflow: hidden;
    font-size: 16px !important;
    border: 1px solid #d5dce0;
    padding: 4px 0 0 0;

    input {
      font-size: 1.0em;
      font-family: $base-font-family;
      width: 10em;
      background: none;
    }

    &:hover {
      border: 1px solid $primary-color;
    }
  }

  .categories {
    padding-top: 0.2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  .filter-heading {
    font-size: 20px;
    padding-bottom: 4px;
  }

  .task-type {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .popular-labels-wrapper {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 480px) {
  .task-filters {
    padding: 0 12px;
  }
}
