@import 'views/styles/shared';

.header {
  .header-wrapper {
    padding: 5px 0 0 0;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
  }

  .toastify--top-right {
    right: 80px;
  }

  .toastify--top-left {
    left: 80px;
  }

  .header-side {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.lang-en {
      flex-direction: row;
    }

    &.lang-he {
      flex-direction: row;
    }

    a {
      &:hover {
        color: #eb1478;
      }
    }
    h4 {
      display: inline-block;
    }

    button {
      font-size: 0.8em;
      padding: 0.3em;

      transition-duration: 0.2s;
      transition: all 0.2s ease;

      background: none;
      border: solid 1px #ccc;
      border-radius: 4px;

      &:hover {
        color: #eb1478;
      }
    }

    .project-title {
      font-size: rem(14px);
    }
  }

  .toastify {
    z-index: 10000;
    min-width: 350px;
    font-size: 23px;
  }

  .lang-he {
    direction: ltr;
  }
  .lang-en {
    direction: ltr;
  }

  .language-buttons-wrapper {
    .button-as-link {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    padding: 0;
    margin: 0;

    .header-wrapper {
      margin: 0;
      height: 0;
      padding: 0;
    }

    .header-side {
      display: none;
    }

    .header-actions {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .toastify--top-right {
      left: 0;
      right: 0;
      top: 10px;
      padding: 0 20px;
    }

    .toastify--top-left {
      left: 0;
      right: 0;
      top: 10px;
      padding: 0 20px;
    }
  }
}
