@import 'views/styles/shared';

.task-view-mini-list {
  max-height: 27.5em; // This is important for infinite scrolling
  overflow-y: auto; // This is important for infinite scrolling

  display: flex;
  flex-direction: row;

  .task-view-mini {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .me-empty-placeholder-wrapper {
    margin: 2em 0 !important;
  }
}

.task-view-mini-list > div:first-child {
  width: 94%; //Fixes an issue with overflow and box-shadow being cut
  margin: 0 auto;
}
