@import 'views/styles/shared';

.task-view-mini-list {
  max-height: 27.5em; // This is important for infinite scrolling
  overflow-y: auto; // This is important for infinite scrolling

  display: flex;
  flex-direction: row;

  .task-view-mini {
    margin-top: 24px;
    margin-bottom: 24px;
  }


  .no-tasks-placeholder {
    padding: 10px 15px;
    font-size: 14px;

    h3 {
      color: rgba(197, 193, 193, 0.7);
      font-size: 18px;
      text-align: center;
      margin: 35px 0;
    }

    div,
    button {
      font-size: 14px;
    }

    div {
      padding-top: 20px;
      color: #000;
      font-weight: normal;
    }

    .click-here-left {
      margin-right: 5px;
    }

    .click-here-right {
      margin-left: 5px;
    }

    button {
      background: transparent;
      border: 0;
      padding: 0;
      color: $primary-color;

      &:hover {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}

.task-view-mini-list > div:first-child {
  width: 94%; //Fixes an issue with overflow and box-shadow being cut
  margin: 0 auto;
}
