.googleSignIn {
  background-image: url(./btn_google_signin.png);
  width: 249px;
  height: 60px;
  background-size: cover;
  display: inline-block;
  overflow: hidden;
  border: none;
  margin-left: -4px; //This to overcome the border shadow this button have
}

.googleSignIn:hover {
  background-image: url(./btn_google_signin_pressed.png);
}
