@import 'views/styles/shared';

.header-actions {
  @include clearfix;
  float: right;
  padding: 8px 1em 0 0;
  line-height: 24px;
  margin: 0 1em 0 1em;

  li {
    list-style: none;
  }

  .button {
    display: block;
    margin: 0;
    color: #999;
    font-size: rem(14px);
    line-height: 24px;
  }

  .link {
    display: block;
    fill: #98999a;
    transform: translate(0, 0);
  }

  .link--github {
    padding-top: 1px;
    width: 22px;
    height: 24px;
  }
}
